[submodule "13_signal_vs"]
	path = siuVic
	url = https://github.com/vs2961/13_signal_vs.git
	branch = main
[submodule "nathMic"]
	path = nathMic
	url = https://github.com/Michael-Nath/mnath_signal.git
	branch = master
[submodule "yeCul"]
	path = yeCul
	url = https://github.com/CullenLYe/work13_signal.git
	branch = main
