[submodule "13_signal_vs"]
	path = siuVic
	url = https://github.com/vs2961/13_signal_vs.git
	branch = main
[submodule "nathMic"]
	path = nathMic
	url = https://github.com/Michael-Nath/mnath_signal.git
	branch = master
[submodule "yeCul"]
	path = yeCul
	url = https://github.com/CullenLYe/work13_signal.git
	branch = main
[submodule "hamzahMoh"]
	path = hamzahMoh
	url = https://github.com/ForestDweller014/13_signal
	branch = main
[submodule "ahmedTah"]
	path = ahmedTah
	url = https://github.com/TahsinAhmed13/13_signal.git
	branch = main
[submodule "yeGen"]
	path = yeGen
	url = https://github.com/Gene1212/13_signal.git
	branch = master
[submodule "raoIva"]
	path = raoIva
	url = https://github.com/irao12/systems_13_signal
	branch = main
[submodule "jiangVin"]
	path = jiangVin
	url = https://github.com/vjiang10/13_signal_vj.git
	branch = master
[submodule "liSun"]
	path = liSun
	url = https://github.com/sunnyli13/Work13.git
	branch = main
[submodule "zhouKel"]
	path = zhouKel
	url = https://github.com/KellyZhou223/signal.git
	branch = master
[submodule "zhangJin"]
	path = zhangJin
	url = https://github.com/Jinzxc/13_signal_J.git
	branch = main
[submodule "ku-benjetJer"]
	path = ku-benjetJer
	url = https://github.com/jku20/mk65_13_signal.git
	branch = main
[submodule "leeLuc"]
	path = leeLuc
	url = https://github.com/Lucas-Lee11/13_signal
	branch = main
[submodule "huLuc"]
	path = huLuc
	url = https://github.com/lhu10/systems_13_signal.git
	branch = main
[submodule "leeSte"]
	path = leeSte
	url = https://github.com/kevidgel/13_signal
	branch = main
[submodule "maoMad"]
	path = maoMad
	url = https://github.com/madelynxmao/13_signal.git
	branch = main
[submodule "zhangDev"]
	path = zhangDev
	url = https://github.com/dzhang10/hw_13_signal.git
	branch = master
[submodule "zhaoGav"]
	path = zhaoGav
	url = https://github.com/gzhao10/hw13.git
	branch = main
[submodule "chenJac"]
	path = chenJac
	url = https://github.com/jchen2003/13_signal.git
[submodule "zhengYul"]
	path = zhengYul
	url = https://github.com/yzheng10/13_Signal.git
	branch = main
